body {
    margin: 0;
    background: #0f0f0f;
    font-family: "Roboto", sans-serif;
}

.yt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background: #914f4f;
    color: white;
}
.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu {
    font-size: 22px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
}

.logo img {
    width: 95px;
}

.country {
    font-size: 10px;
    opacity: 0.7
}
.search-area {
    display: flex;
    align-items: center;
    width: 50%;
}

.search-area input {
    width: 100%;
    padding: 10px;
    background: #121212;
    border: 1px solid #303030;
    border-right: none;
    color: #fff;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-btn {
    width: 50px;
    height: 37px;
    background: #303030;
    border: 1px solid #303030;
    border-radius: 0 20px 20px 0;
    font-size: 18px;
    cursor: pointer;
}

.mic-btn {
    margin-left: 10px;
    width: 50px;
    height: 40px;
    background: #303030;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.create-btn {
    padding: 10px 18px;
    background: #303030;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

.notification {
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -6px;
    right: -10px;
    background: red;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}

.profile {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
body {
    margin: 0;
    background: #0f0f0f;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    display: flex;
}

.sidebar {
    width: 75px;
    background: #914f4f;
    padding-top: 15px;
    border-right: 1px solid #1f1f1f;
    height: 100vh;
    position: fixed;
}

.sidebar .item {
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #bbb;
}

.sidebar .item span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.sidebar .item.active,
.sidebar .item:hover {
    color: white;
    background: #272727;
    border-radius: 10px;
}

/* MAIN AREA */
.main-area {
    margin-left: 95px;
    padding: 15px;
    width: calc(100% - 95px);
}

/* CATEGORY BAR */
.categories {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.categories button {
    padding: 10px 18px;
    background: #914f4f;
    color: white;
    border: 2px solid red;
    border-radius: 0px 10px 0 10px;
    cursor: pointer;
    white-space: nowrap;
}

.categories button.active,
.categories button:hover {
    background: white;
    color: black;
} 
.videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 25px;
}

.video .thumb {
    width: 100%;
    height: 300px;
    border-radius: 12px;
}

.video h3 {
    margin: 10px 0 5px;
    font-size: 16px;
}

.meta {
    font-size: 13px;
    color: #aaa;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn, .btn-outline {
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.btn {
    background:#914f4f;
    color: black;
}

.btn-outline {
    background: transparent;
    color: white;
    border: 1px solid #555;
}

/* SHORTS */
.shorts-heading {
    margin: 30px 0 15px;
}

.shorts {
    display: flex;
    gap: 16px;
}

.short-thumb {
    width: 140px;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}
